<div class="position-tile">
    <div ng-if="!vm.position.editing">
        <i class="material-icons circle green">person</i>
        <span class="title">{{vm.position.name}}</span>
        <p>
        <div class="description">{{vm.position.description}}</div>
        </p>
    </div>

    <div class="secondary-content" ng-if="!vm.position.new">
        <a href="" ng-click="vm.position.editing = !vm.position.editing" ng-if="!vm.position.removing">
            <i class="material-icons">edit</i>
        </a>
        <a href="" ng-click="vm.removePosition(vm.position)" ng-if="!vm.position.removing">
            <i class="material-icons">close</i>
        </a>
    </div>
    <div class="secondary-content" ng-if="vm.position.removing">
        <loader></loader>
    </div>

    <div ng-if="vm.position.editing">
        <form class="col s12 l8 offset-l2 xl6 offset-xl3" ng-submit="vm.savePosition(vm.position)">
            <div input-field class="row">

                <div class="input-field col s12">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="first_name" type="text" class="validate" ng-model="vm.position.name"
                           ng-class="{'invalid': vm.errors.name}">
                    <label for="first_name">{{'FIELDS.NAME' | translate}}</label>
                </div>
            </div>
            <div input-field class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">mode_edit</i>
                    <input type="text" id="details" class="materialize-textarea" ng-model="vm.position.description"></input>
                    <label for="details">{{'FIELDS.DESCRIPTION' | translate}}</label>
                </div>
            </div>
            <div class="working-hours">
                <div class="row">
                    <div class="col s8">
                        <table>
                            <tbody>
                            <tr ng-repeat="day in vm.days">
                                <td class="text-capitalize">{{vm.getWeekDay(day)}}</td>
                                <td>
                                    <label ng-attr-for="input_starttime-hour-{{vm.position.id}}-{{day}}">Od</label>
                                    <select ng-attr-id="input_starttime-hour-{{vm.position.id}}-{{day}}" class="browser-default time-input" ng-model="vm.position.working_hours[day].start.hour">
                                        <option ng-repeat="hour in vm.hours" value="{{vm.formatTime(hour)}}">{{vm.formatTime(hour)}}</option>
                                    </select>
                                    :
                                    <select ng-attr-id="input_starttime-hour-{{vm.position.id}}-{{day}}" class="browser-default time-input" ng-model="vm.position.working_hours[day].start.minute">
                                        <option ng-repeat="minute in vm.minutes" value="{{vm.formatTime(minute)}}">{{vm.formatTime(minute)}}</option>
                                    </select>
                                </td>
                                <td>
                                    <label ng-attr-for="input_endtime-hour-{{vm.position.id}}-{{day}}">Do</label>
                                    <select ng-attr-id="input_endtime-hour-{{vm.position.id}}-{{day}}" class="browser-default time-input" ng-model="vm.position.working_hours[day].end.hour">
                                        <option ng-repeat="hour in vm.hours" value="{{vm.formatTime(hour)}}">{{vm.formatTime(hour)}}</option>
                                    </select>
                                    :
                                    <select ng-attr-for="input_endtime-minute-{{vm.position.id}}-{{day}}" class="browser-default time-input" ng-model="vm.position.working_hours[day].end.minute">
                                        <option ng-repeat="minute in vm.minutes" value="{{vm.formatTime(minute)}}">{{vm.formatTime(minute)}}</option>
                                    </select>
                                </td>
                                <td><input type="checkbox" ng-attr-id="open-{{day}}-{{vm.position.id}}" ng-model="vm.position.working_hours[day].open" />
                                    <label ng-attr-for="open-{{day}}-{{vm.position.id}}">{{'OPEN' | translate}}</label>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>



            </div>
            <div class="buttons right-align" ng-if="!vm.position.saving">
                <button class="btn waves-effect" type="submit">{{'SAVE' | translate}}</button>
                <button class="btn waves-effect red" type="reset" ng-click="vm.cancel(vm.position)">
                    {{'CANCEL' | translate}}
                </button>
            </div>

            <loader ng-if="vm.position.saving"></loader>
        </form>
    </div>
</div>