<div class="employee-tile">
    <div ng-if="!vm.employee.editing">
        <i class="material-icons circle green">person</i>
        <span class="title">{{vm.employee.first_name}} {{vm.employee.last_name}}</span>
        <p>
            <div ng-if="vm.employee.stand">{{vm.employee.stand.name}}</div>
            <div class="email">{{vm.employee.email}}</div>
        </p>
    </div>

    <div class="secondary-content" ng-if="!vm.employee.new">
        <a href="" ng-click="vm.employee.editing = !vm.employee.editing" ng-if="!vm.employee.removing">
            <i class="material-icons">edit</i>
        </a>
        <a href="" ng-click="vm.removeUser(vm.employee)" ng-if="!vm.employee.removing">
            <i class="material-icons">close</i>
        </a>
    </div>
    <div class="secondary-content" ng-if="vm.employee.removing">
        <loader></loader>
    </div>

    <div ng-if="vm.employee.editing">
        <form class="col s12 l8 offset-l2 xl6 offset-xl3" ng-submit="vm.saveUser(vm.employee)">
            <div input-field class="row">

                <div class="input-field col s6">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="first_name" type="text" class="validate" ng-model="vm.employee.first_name"
                           ng-class="{'invalid': vm.errors.first_name}">
                    <label for="first_name">{{'FIELDS.FIRST NAME' | translate}}</label>
                </div>
                <div class="input-field col s6">
                    <input id="last_name" type="text" class="validate" ng-model="vm.employee.last_name"
                           ng-class="{'invalid': vm.errors.last_name}">
                    <label for="last_name">{{'FIELDS.LAST NAME' | translate}}</label>
                </div>
            </div>
            <div input-field class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">contact_mail</i>
                    <input id="email" type="email" class="validate" ng-model="vm.employee.email"
                           ng-class="{'invalid': vm.errors.email}">
                    <label for="email">{{'FIELDS.EMAIL' | translate}}</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">phone</i>
                    <input id="phone" type="text" class="validate" ng-model="vm.employee.phone">
                    <label for="phone">{{'FIELDS.PHONE NUMBER' | translate}}</label>
                </div>
            </div>
            <div class="buttons right-align" ng-if="!vm.employee.saving">
                <button class="btn waves-effect" type="submit">{{'SAVE' | translate}}</button>
                <button class="btn waves-effect red" type="reset" ng-click="vm.cancel(vm.employee)">
                    {{'CANCEL' | translate}}
                </button>
            </div>

            <loader ng-if="vm.employee.saving"></loader>
        </form>
    </div>
</div>