<div class="row">
    <div class="col s12 l8 offset-l2 xl4 offset-xl4">
        <h3>{{'SIGN IN' | translate}}</h3>
        <br>
        <form ng-submit="vm.login()">
            <div input-field>
                <div class="input-field">
                    <input id="email" type="email" class="validate" placeholder="{{'FIELDS.EMAIL' | translate}}" ng-model="vm.email" ng-class="{'invalid': vm.error}" ng-required="true">
                </div>
            </div>
            <div input-field>
                <div class="input-field">
                    <input id="password" type="password" class="validate" placeholder="{{'FIELDS.PASSWORD' | translate}}" ng-model="vm.password" ng-class="{'invalid': vm.error}" ng-required="true">
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <a ui-sref="request-reset-password()">{{'FORGOT PASSWORD' | translate}}</a>
                </div>
            </div>
            <button class="btn waves-effect" type="submit" ng-if="!vm.loading">{{'LOGIN BTN' | translate}}</button>
            <loader ng-if="vm.loading"></loader>
        </form>
    </div>
</div>