<div class="row">
    <div class="col s12 l8 offset-l2 xl4 offset-xl4">
        <br>
        <div class="errors" ng-if="vm.error">
            <ul class="collection">
                <li class="collection-item">
                    {{vm.error}}
                </li>
            </ul>
            <br>
        </div>
        <form ng-submit="vm.send()">
            <div input-field>
                <div class="input-field">
                    <input id="email" type="email" class="validate" ng-model="vm.data.email" ng-class="{'invalid': vm.error.email}">
                    <label for="email">{{'FIELDS.EMAIL' | translate}}</label>
                </div>
            </div>
            <div input-field>
                <div class="input-field">
                    <input id="new-password" type="password" class="validate" ng-model="vm.data.password" ng-class="{'invalid': vm.error.password}">
                    <label for="new-password">{{'FIELDS.NEW PASSWORD' | translate}}</label>
                </div>
            </div>
            <div input-field>
                <div class="input-field">
                    <input id="password-confirmation" type="password" class="validate" ng-model="vm.data.password_confirmation" ng-class="{'invalid': vm.error.password}">
                    <label for="password-confirmation">{{'FIELDS.PASSWORD REPEAT' | translate}}</label>
                </div>
            </div>
            <button class="btn waves-effect" type="submit">{{'SEND' | translate}}</button>
        </form>
    </div>
</div>