<div class="calendar">
    <div>
        <div class="calendar-header center-align row">
            <div class="calendar-date col s12">
                <button class="btn waves-effect calendar-navigation-button"
                        ng-click="vm.changeSelectedDate(vm.PREVIOUS)">
                    <i class="medium material-icons">chevron_left</i>
                </button>
                <div class="date" ng-if="vm.viewMode === vm.VIEW_MODE_WEEK">
                    {{vm.getDate(1)}} - {{vm.getDate(7)}}
                </div>
                <div class="date" ng-if="vm.viewMode === vm.VIEW_MODE_DAY">
                    {{vm.getDate(vm.selectedDay)}}
                </div>
                <button class="btn waves-effect calendar-navigation-button"
                        ng-click="vm.changeSelectedDate(vm.NEXT)">
                    <i class="medium material-icons">chevron_right</i>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="calendar-navigation col s4">
                <div class="calendar-navigation-buttons">
                    <button class="btn waves-effect calendar-navigation-button"
                            ng-if="vm.showTodayButton()"
                            ng-click="vm.changeSelectedDate(vm.TODAY)">
                        {{'TODAY' | translate}}
                    </button>
                </div>
            </div>
            <div class="calendar-mode col s8 right-align">
                <div class="switch">
                    <label>
                        {{'WEEK' | translate}}
                        <input type="checkbox" class="always-on" ng-model="vm.viewMode">
                        <span class="lever"></span>
                        {{'DAY' | translate}}
                    </label>
                </div>
            </div>
        </div>
        <div class="calendar-main">
            <loader class="big" ng-if="vm.loading"></loader>
            <div class="table-responsive">
                <table class="calendar-table highlight" ng-if="!vm.loading" ng-class="{'table-fixed': vm.viewMode === vm.VIEW_MODE_WEEK}">
                    <thead>
                    <tr>
                        <td></td>
                        <td ng-if="vm.viewMode === vm.VIEW_MODE_WEEK" ng-repeat="day in vm.range(1,7)"
                            class="hide-on-med-and-up center-align">
                            {{vm.getWeekDay(day, 'ddd')}}
                            <br>
                            {{vm.getDate(day, 'D. MMM')}}
                            <br>
                        </td>
                        <td ng-if="vm.viewMode === vm.VIEW_MODE_WEEK" ng-repeat="day in vm.range(1,7)"
                            class="hide-on-small-only center-align">
                            {{vm.getWeekDay(day)}}
                            <br>
                            {{vm.getDate(day)}}
                            <br>
                        </td>

                        <td ng-if="vm.viewMode === vm.VIEW_MODE_DAY" class="center-align">
                            {{vm.getWeekDay(vm.selectedDay)}}
                            <br>
                            {{vm.getDate(vm.selectedDay)}}
                        </td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="(slotIndex, timeSlots) in vm.schedule">
                        <td class="slot-time" ng-if="vm.isFullHour(vm.slotTimes[slotIndex])">{{vm.slotTimes[slotIndex]}}</td>
                        <td class="slot-time" ng-if="!vm.isFullHour(vm.slotTimes[slotIndex])"></td>
                        <td ng-repeat="(day, slot) in timeSlots"
                            class="slot"
                            ng-click="vm.clickSlot(slot, slotIndex, day)"
                            ng-if="vm.viewMode === vm.VIEW_MODE_WEEK || (vm.viewMode === vm.VIEW_MODE_DAY && day == vm.selectedDay)"
                            ng-class="{'open': slot.open, 'free': slot.free, 'full-hour': vm.isFullHour(slot.time), 'my-reservation': slot.my}">

                            <div title="{{slot.time}} - {{slot.end}}" class="slot-info" ng-if="slot.free && slot.open">{{slot.time}} - {{slot.end}}</div>
                            <div title="{{'POSITION CLOSED' | translate}}" class="slot-info" ng-if="!slot.open">{{'POSITION CLOSED' | translate}}</div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>