<div class="popup reservation-details-popup">
    <div class="popup-header valign-wrapper center-align">
        <div class="close">
            <a class="close-button" ng-click="vm.close()"><i class="material-icons">close</i></a>
        </div>
        <div class="header-content">
            {{vm.date}}
        </div>
    </div>
    <div ng-repeat="reservation in vm.slot.reservations" class="reservation">
        <div class="content">
            <div class="row">
                <div class="col s2">
                    <i class="material-icons">account_circle</i>
                </div>
                <div class="col s10">
                    <div>{{reservation.user.first_name}} {{reservation.user.last_name}}</div>
                    <div class="row">
                        Indeks: {{reservation.user.index_number}}
                    </div>
                </div>
            </div>
            <div class="row" ng-if="reservation.user.phone">
                <div class="col s2">
                    <i class="material-icons">contact_phone</i>
                </div>
                <div class="col s10">
                    {{reservation.user.phone}}
                </div>
            </div>
            <div class="row">
                <div class="col s2">
                    <i class="material-icons">email</i>
                </div>
                <div class="col s10">
                    <a href="mailto:{{reservation.user.email}}">{{reservation.user.email}}</a>
                </div>
            </div>
            <div class="row" ng-if="reservation.details">
                <div class="col s2">
                    <i class="material-icons">edit</i>
                </div>
                <div class="col s10">
                    {{reservation.details}}
                </div>
            </div>
        </div>
    </div>
</div>